<launch>
    <arg name="world_name" value="/home/heho/catkin_ws/src/navigation/car_gazebo/world/wall.world"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="/home/heho/catkin_ws/src/navigation/car_gazebo/world/wall.world"/>
    </include>

    <!-- 加载静态地图 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find car)/map/testMap.yaml"/>

    <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find car)/robots/xacro/car.xacro'" />
    <node name="urdf_spawner" pkg="gazebo_ros"  type="spawn_model" respawn="false" output="screen"
    args="-urdf -model car -param robot_description"/>

    <!-- 发布map的tf，以及实现map到odom的转换 -->
    <include file="$(find car_state)/launch/car_tf.launch"/>    

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="rate" value="50" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="rate" value="50" />
    </node>

    
    <!-- <include file="$(find car_gazebo)/launch/gmapping.launch"/> -->
    <!-- <node name="cmdvel" pkg="official_example" type="cmdvel"/> -->
    <!-- <include file="$(find official_example)/launch/move_base.launch"/> -->

    <!-- launch RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find car)/car.rviz"/> 

</launch>
