<launch>
    <arg name="scan_topic" default="/scan" />
<!-- 设置变量激光雷达话题的名称 -->
 
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" clear_params="true">
<!-- 以下的参数全部都是配置slam_gmapping这个可执行文件用的，这个是一个c语言编译好的一个可执行文件。直接用，配置参数就好 -->
 
        <param name="odom_frame" value="odom"/>
<!-- 配置里程计坐标系的名称值 -->
        <param name="map_update_interval" value="5.0"/>
<!-- 配置地图更新的时间间隔默认值都是5.0 -->
 
        <!-- Set maxUrange < actual maximum range of the Laser -->
<!-- 设置激光雷达的参数范围，这些参数在激光雷达和gmapping的那篇介绍的博客里面都有 -->
        <param name="maxRange" value="5.0"/>
        <param name="maxUrange" value="4.5"/>
        <param name="sigma" value="0.05"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.05"/>
        <param name="astep" value="0.05"/>
        <param name="iterations" value="5"/>
        <param name="lsigma" value="0.075"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="0"/>
        <param name="srr" value="0.01"/>
        <param name="srt" value="0.02"/>
        <param name="str" value="0.01"/>
        <param name="stt" value="0.02"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="angularUpdate" value="0.436"/>
        <param name="temporalUpdate" value="-1.0"/>
        <param name="resampleThreshold" value="0.5"/>
        <param name="particles" value="80"/>
        <param name="xmin" value="-1.0"/>
        <param name="ymin" value="-1.0"/>
        <param name="xmax" value="1.0"/>
        <param name="ymax" value="1.0"/>
        <param name="delta" value="0.05"/>
        <param name="llsamplerange" value="0.01"/>
        <param name="llsamplestep" value="0.01"/>
        <param name="lasamplerange" value="0.005"/>
        <param name="lasamplestep" value="0.005"/>
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>